{% extends 'base/main.html' %}

{% block content %}
<div class="movie">
    <div class="movie-image"> <span class="play"><span class="name">{{movie.name}}</span></span> <img src="{{movie.image.url}}" alt="" /> </div>
    <div class="rating">
        <p>RATING</p>
        <div class="stars">
            <div class="stars-in"> </div>
        </div>
        <span class="comments">12</span>
    </div>
    <br><br>

    <div class="movie-info">
        <p><strong>Description:</strong> {{movie.description}}</p>
        <p><strong>Release date:</strong> {{movie.release_date}}</p>
        <p><strong>Budget:</strong> {{movie.budget}}$</p>
        <p><strong>Genre:</strong> {{movie.genre}}</p>
    </div>


</div>
{% endblock %}